body{
	margin: 0;
	padding: 0;
	width: 100%;
}
/*Diseño Header y Nav Bar*/
header{
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
	height: 80px;
}
.grid, .grid-pad{
	margin: 0;
	padding: 0;
	height: 80px;
	max-width: 100%;
}
.col-1-1{
	background-color: #2980b9;
	color: white;
	height: inherit;
	width: 100%
}
.content ul{
	list-style: none;
	margin-top: 25px;
	margin-right: 142px; 
	float: right;
}
.menu-header{
	font-family: 'Prompt', sans-serif;
}
.menu-header li{
	display: inline-block;
	text-align: right;

}
.menu-header a{
	color: white;
	text-decoration: none;
	padding: 5px;
}
h1{
	display: inline-block;
	font-family: 'Baloo Paaji', cursive;
	margin: 10px 0;
}
#love-logo, #bunny-logo{
	display: inline-block;
}
#love-logo{
	color: #EF9A9A;
}

